/*******************************************************************/
/* Created: INSERTDATE by Troy Center, troycenter1@gmail.com.      */
/* INSERTDESCRIPTION                                               */
/*******************************************************************/

/***************************************************/
/*               CSS reset settings                */
/***************************************************/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
